<!DOCTYPE html>
<html>
<head>
    <title>Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>📄 Resume Analyzer</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="resume" required>
        <br>
        <button type="submit">Analyze</button>
    </form>

    {% if score %}
    <div class="result">
        <h2>Score: {{score}} / 100</h2>
        <h3>Skills Found:</h3>
        <p>{{skills}}</p>
    </div>
    {% endif %}
</div>

</body>
</html>